body{
	font-family: cursive;
	text-align: center;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Animal_diversity.png/300px-Animal_diversity.png")
}

.english{
	color:red;
	background-color:white;
}

.turkish{
	color:white;
	background-color:red;
}
